jupyter-book
sphinx>=1.4
sphinx_rtd_theme
ipykernel
nbsphinx
anndata==0.8.0
scanpy==1.8.1
einops==0.4.1
biopython==1.79
seaborn==0.12.2
pandas==1.4.2
numba==0.57.1
numpy
matplotlib
scikit-learn
plotly
umap-learn